# Framework principal
fastapi==0.115.0
uvicorn==0.30.1

# Validación y manejo de datos
pydantic==2.9.0
python-multipart==0.0.9

# Manipulación de datos
pandas==2.2.3
numpy==2.1.1

# Fecha y tiempo
python-dateutil==2.9.0
